section.contact(id='contato')
	.contact__image_wrapper
		img.contact__image.js-lazy-load(data-src=home.data.background.url alt=home.data.background.alt)

	a.contact__link(href=home.data.social_media_link.url draggable="false")
		.contact__link__title_wrapper
			h4.contact__link__title=home.data.social_media_title
		.contact__link__text_wrapper
			h5.contact__link__text=home.data.social_media_user

	a.contact__link(href=`tel:${keepNumbers(home.data.phone_number)}` draggable="false")
		.contact__link__title_wrapper
			h4.contact__link__title=home.data.phone_title
		.contact__link__text_wrapper
			h5.contact__link__text=home.data.phone_number