extends ../base.pug

block variables
	- var template = 'home'

block content
	section.hero
		.hero__title_wrapper
			h1.hero__title=home.data.title
			h2.hero__subtitle=home.data.subtitle
		.hero__image-mask
			figure.hero__image_wrapper
				img.hero__image(data-lazy="img" data-src=home.data.home_images[random].image.url, alt=home.data.home_images[random].image.alt draggable="false")

	section.niches
		each niche in niches
			.niches_wrapper(id=niche.uid)
				a.niches__link(href=`/${niche.uid}` draggable="false")
					h3.niches__link__title
						each title in niche.data.title.split(' ')
							span=title
					ul.niches__list
						each photoshoot in niche.data.photoshoots
							li.niches__item
								img.niches__item__image(data-lazy="img" data-src=photoshoot.image.url alt=photoshoot.image.alt draggable="false")

