extends ../base.pug

block variables
	- var template = 'photoshoot'


block content
		section.photoshoot__hero#photoshoot
			.photoshoot__hero__title_wrapper
				h1.photoshoot__hero__title=niche.data.title.replace('_', ' ')
			.photoshoot__hero__image_wrapper
				img.photoshoot__hero__image(data-lazy="img" data-src=niche.data.image.url alt=niche.data.image.alt)

		each slice in niche.data.body
			if slice.slice_type == 'grid_imagens1'
				section.photoshoot__grid
					each media in slice.items
						if media.image1.url !== undefined
							figure.photoshoot__grid__image_wrapper
								img.photoshoot__grid__image(data-lazy="img" data-src=media.image1.url alt=media.image1.alt)
		
			if slice.slice_type == 'imagem_unica'
				section.photoshoot__full
					if slice.primary.image1.url !== undefined
						figure.photoshoot__full__image_wrapper
							img.photoshoot__full__image(data-lazy="img" data-src=slice.primary.image1.url alt=slice.primary.image1.alt)

		.photoshoot__more
			a.photoshoot__more__link(href="#")
				| Contato